<template>
    <div>
        <Navbar :user="user" />
    </div>
    <router-view />
</template>

<script>
import Navbar from './Navbar.vue';

export default {
    name: "DefaultLayout",
    components: { Navbar },
    data() {
        return {
            user: {}
        }
    }
}
</script>

<style>

</style>