<template>
    <div class="navbar">
        Welcome {{ user.username }} 
        <a href="" @click="logout">Logout</a>
    </div>
</template>

<script>
 export default {
    name: "Navbar",
    props: {
        user: Object
    },
    methods: {
        logout() {
            console.log("Logout")
        }
    }
 }
</script>

<style>

</style>