<template>
    <div class="form-wrapper">
        <h3>Login To Hitrate Sign System</h3>
        <form @submit.prevent="login" action="">
            <div v-if="errors" class="errors">
                <p v-for="(error, field) in errors" :key="field">
                    {{ error[0] }}
                </p>
            </div>
            <input type="text" v-model="form.username" placeholder="Your Username"><br>
            <input type="password" v-model="form.password" placeholder="Your Password"><br>
            <button>Login</button>
            <router-link to="/register" class="link">Registration</router-link>
        </form>
    </div>
</template>

<script>
 export default {
    name: "LoginView",
    data() {
        return {
            form: {
                username: '',
                password: ''
            },
            errors: null
        }
    },
    methods: {
        login() {
            console.log("Login", this.form);
        }
    }
 }
</script>

<style>

</style>