<template>
    <div class="form-wrapper">
        <h3>Register To Hitrate Sign System</h3>
        <form @submit.prevent="register" action="">
            <div v-if="errors" class="errors">
                <p v-for="(error, field) in errors" :key="field">
                    {{ error[0] }}
                </p>
            </div>
            <input type="text" v-model="form.username" placeholder="Your Username"><br>
            <input type="password" v-model="form.password" placeholder="Your Password"><br>
            <input type="password" v-model="form.password_repeat" placeholder="Repeat Password"><br>
            <button>Register</button>
            <router-link to="/login" class="link">Login</router-link>
        </form>
    </div>
</template>

<script>
 export default {
    name: "RegistrationView",
    data() {
        return {
            form: {
                username: '',
                password: '',
                password_repeat: ''
            },
            errors: null
        }
    },
    methods: {
        register() {
            console.log("Register", this.form);
        }
    }
 }
</script>

<style>

</style>